body
{
    margin: 0;
    padding: 0;
    background-image: url(image5.jpg);
    background-size: 150%;
    background-position: center;
    
}
table,th,td
{
    border: 3px black solid;
    text-align: center;
    border-collapse: collapse;
    padding: 20px;
    font-size: 18px;
}
.price
{
    width: 700px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: center;
    
}
.price h2
{
    font-size: 40px;
    text-decoration: underline;
}
.view
{
    text-decoration: none;
    border: 1px black solid;
    padding: 10px;
    background-color: grey;
    color: black;

}
a:hover
{
    color: red;
}
.edit
{
    text-decoration: none;
    border: 1px black solid;
    padding: 10px;
    background-color: grey;
    color: black;
}